html{
    font-family: monospace;
}

body{
    background-color: black;
}

#table-div{

    display: grid;
    align-items: center;
    margin-top: 11.5%;
    margin-left: 25%;
}

/* CONTENT  */
.coding-sites p{
    color: #03A062;
}

.links a{
    color: #03A062;
    
}

/* mobile  */
@media screen and (max-device-width:700px){
    #table-div{

        display: grid;
        align-items: center;
        margin: 2.5%;
        margin-top: 150px;
    }
    
}
