
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* desktop  */
body {
    background-color: #EDF5E1;
}

/* navbar */

#navbar{
    height: 50px;
    width: 100%;
    background-color: #363636;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar a{
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 3%;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
#navbar a:hover{                                /* --- applies to mobile display too ---*/
    color: black;
    text-shadow: 2px 2px 5px white;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: white;
    transform: scale(1.5,1.5);
}
#logo {
    float: left;
}


/* about */
#about{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 2.5%;
}
#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#about h1{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#about h2{
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
}
#about p{
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

/* skills */
#skills{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 5%;
}
#skills h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
    
}
#skills table{
    padding-left: 5%;
    padding-right: 5%;
}
#skills table td p{
    margin-left: 3px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* contact */
#contact{
    margin-left: 12.5%; 
    margin-right: 12.5%;
    margin-top: 5%;
}
#contact h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
    
}
#contact p{
    text-align: center;
}
.contact-items{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* footer  */
footer p {
        
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}







/* mobile  */
@media screen and (max-device-width:700px){
    body {
        background-color: #EDF5E1;
    }

    /* navbar */
    nav img {
        margin-top: 5%;
    }
    .navbar-links{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-weight: 300;
    }
    nav {
        text-align: center;
        margin-top: 1.5%;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    /* about */
    #about{
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 2.5%;
    }
    #about img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #about h1{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    #about h2{
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
    }
    #about p{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    /* skills */
    #skills {
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 12.5%;
    }
    #skills h2{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        
    }
    #skills table{
        margin-left: auto;
        margin-right: auto;
        
    }
    #skills table td p{
        margin-left: 3px;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    /* contact */
    #contact{
        margin-left: 12.5%; 
        margin-right: 12.5%;
        margin-top: 12.5%;
    }
    #contact h2{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        
    }
    #contact p{
        text-align: center;
    }
    .contact-items{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    
    /* footer  */
    footer p {
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: center;
    }
}
