
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* desktop  */
body {
    background-color: #EDF5E1;
}

/* navbar */
#abhinav-kashyap {
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    font-size: 200%;
    font-weight: 700;
}
.navbar-items{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-weight: 300;
}
nav img {
    margin-top: 5%;
}
nav {
    text-align: center;
    margin-top: 1.5%;
    margin-right: 10%;
    margin-left: 10%;
}

/* about */
#about{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 2.5%;
}
#about h2{
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
}
#about samp{
    padding-left: 5%;
    padding-right: 5%;
}

/* skills */
#skills{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 5%;
}
#skills h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
    
}
#skills table{
    padding-left: 5%;
    padding-right: 5%;
}
#skills table td p{
    margin-left: 3px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* contact */
#contact{
    margin-left: 12.5%; 
    margin-right: 12.5%;
    margin-top: 5%;
}
#contact h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-weight: 500;
    
}
#contact p{
    text-align: center;
}
.contact-items{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* footer  */
footer p {
        
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}







/* mobile  */
@media screen and (max-device-width:700px){
    body {
        background-color: #EDF5E1;
    }

    /* navbar */
    #abhinav-kashyap {
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        font-size: 200%;
        font-weight: 700;
        
    }
    nav img {
        margin-top: 5%;
    }
    .navbar-items{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-weight: 300;
    }
    nav {
        text-align: center;
        margin-top: 1.5%;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    /* about */
    #about{
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 2.5%;
    }
    #about h2{
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
    }
    #about p{
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    
    /* skills */
    #skills{
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 12.5%;
    }
    #skills h2{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        
    }
    #skills table{
        margin-left: auto;
        margin-right: auto;
        
    }
    #skills table td p{
        margin-left: 3px;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    /* contact */
    #contact{
        margin-left: 12.5%; 
        margin-right: 12.5%;
        margin-top: 12.5%;
    }
    #contact h2{
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        
    }
    #contact p{
        text-align: center;
    }
    .contact-items{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    
    /* footer  */
    footer p {
        
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: center;
    }
}
