
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* desktop  */
body {
    background-color: black;
}

/* navbar */
#abhinav-kashyap {
    
    color: white;
    font-family: 'Lato', sans-serif;
}
a{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-weight: 300;
}
nav {
    text-align: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

/* about */
#about{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 5%;
}
#about h2{
    
    color: white;
    font-family: 'Lato', sans-serif;
}
#about p{
    
    color: white;
    font-family: 'Lato', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

/* skills */
#skills{
    margin-left: 12.5%; 
    margin-right: 12.5%; 
    margin-top: 5%;
}
#skills h2{
    color: white;
    font-family: 'Lato', sans-serif;
    
}
#skills table{
    padding-left: 5%;
    padding-right: 5%;
}
#skills table td p{
    margin-left: 3px;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* contact */
#contact{
    margin-left: 12.5%; 
    margin-right: 12.5%;
    margin-top: 5%;
}
#contact h2{
    color: white;
    font-family: 'Lato', sans-serif;
    
}
#contact p{
    text-align: center;
}

/* footer  */
footer p {
        
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
}







/* mobile  */
@media screen and (max-device-width:700px){
    body {
        background-color: black;
    }

    /* navbar */
    #abhinav-kashyap {
        
        color: white;
        font-family: 'Lato', sans-serif;
    }
    a{
        color: white;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-weight: 300;
    }
    nav {
        text-align: center;
        margin-top: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    /* about */
    #about{
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 12.5%;
    }
    #about h2{
        
        color: white;
        font-family: 'Lato', sans-serif;
    }
    #about p{
        
        color: white;
        font-family: 'Lato', sans-serif;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    /* skills */
    #skills{
        margin-left: 12.5%; 
        margin-right: 12.5%; 
        margin-top: 12.5%;
    }
    #skills h2{
        color: white;
        font-family: 'Lato', sans-serif;
        
    }
    #skills table{
        padding-left: 5%;
        padding-right: 5%;
    }
    #skills table td p{
        margin-left: 3px;
        color: white;
        font-family: 'Lato', sans-serif;
    }
    
    
    /* contact */
    #contact{
        margin-left: 12.5%; 
        margin-right: 12.5%;
        margin-top: 12.5%;
    }
    #contact h2{
        color: white;
        font-family: 'Lato', sans-serif;
        
    }
    #contact p{
        text-align: center;
    }
    
    /* footer  */
    footer p {
        
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-align: center;
    }
}
